Indexing Tasks
1. Load the sales-feb-2015.csv file into a DataFrame and set the 'Date' column as the
index.

In [ ]:
import pandas as pd

df = pd.read_csv("sales-feb-2015.csv", parse_dates=["Date"])

df.set_index("Date", inplace=True)

print(df.head())

                             Company   Product  Units
Date
2015-02-02 08:30:00            Hooli  Software      3
2015-02-02 21:00:00        Mediacore  Hardware      9
2015-02-03 14:00:00          Initech  Software     13
2015-02-04 15:30:00        Streeplex  Software     13
2015-02-04 22:00:00  Acme Coporation  Hardware     14

2. Access the 'Units' sold for the entry on February 5th at 02:00:00 using both square
bracket notation and .loc accessor.

In [ ]:
units_square = df["Units"]["2015-02-05 02:00:00"]

units_loc = df.loc["2015-02-05 02:00:00", "Units"]

print("Units (square bracket):", units_square)
print("Units (loc accessor):", units_loc)

Units (square bracket): 19
Units (loc accessor): 19

3. Create a new DataFrame that contains only the 'Company' and 'Units' columns.

In [5]:
df_company_units = df[["Company", "Units"]]
print(df_company_units.head())

                             Company  Units
Date
2015-02-02 08:30:00            Hooli      3
2015-02-02 21:00:00        Mediacore      9
2015-02-03 14:00:00          Initech     13
2015-02-04 15:30:00        Streeplex     13
2015-02-04 22:00:00  Acme Coporation     14

Slicing Tasks
4. Extract all sales data between February 3rd and February 5th (inclusive).

In [6]:
sales_range = df.loc["2015-02-03":"2015-02-05"]
print(sales_range)

                             Company   Product  Units
Date
2015-02-03 14:00:00          Initech  Software     13
2015-02-04 15:30:00        Streeplex  Software     13
2015-02-04 22:00:00  Acme Coporation  Hardware     14
2015-02-05 02:00:00  Acme Coporation  Software     19
2015-02-05 22:00:00            Hooli   Service     10

5. Create a slice that shows only the first 5 entries in the dataset.

In [7]:
first_five = df[:5]
print(first_five)

                             Company   Product  Units
Date
2015-02-02 08:30:00            Hooli  Software      3
2015-02-02 21:00:00        Mediacore  Hardware      9
2015-02-03 14:00:00          Initech  Software     13
2015-02-04 15:30:00        Streeplex  Software     13
2015-02-04 22:00:00  Acme Coporation  Hardware     14

6. Extract all Hooli company entries using .loc to slice the DataFrame.

In [8]:
hooli_sales = df.loc[df["Company"] == "Hooli"]
print(hooli_sales)

                    Company   Product  Units
Date
2015-02-02 08:30:00   Hooli  Software      3
2015-02-05 22:00:00   Hooli   Service     10
2015-02-11 23:00:00   Hooli  Software      4
2015-02-16 12:00:00   Hooli  Software     10
2015-02-21 20:30:00   Hooli  Hardware      3

7. Using .iloc, select rows 2 through 4 and columns 1 and 2.

In [ ]:
iloc_selection = df.iloc[2:5, 1:3]   
print(iloc_selection)

                      Product  Units
Date
2015-02-03 14:00:00  Software     13
2015-02-04 15:30:00  Software     13
2015-02-04 22:00:00  Hardware     14

Filtering Tasks
8. Filter the DataFrame to show only rows where more than 10 units were sold.

In [10]:
units_gt_10 = df[df["Units"] > 10]
print(units_gt_10)

                             Company   Product  Units
Date
2015-02-03 14:00:00          Initech  Software     13
2015-02-04 15:30:00        Streeplex  Software     13
2015-02-04 22:00:00  Acme Coporation  Hardware     14
2015-02-05 02:00:00  Acme Coporation  Software     19
2015-02-09 09:00:00        Streeplex   Service     19
2015-02-19 11:00:00        Mediacore  Hardware     16

9. Create a Boolean mask that identifies all Software product sales and use it to filter the
DataFrame.

In [11]:
software_mask = df["Product"] == "Software"
software_sales = df[software_mask]
print(software_sales)

                             Company   Product  Units
Date
2015-02-02 08:30:00            Hooli  Software      3
2015-02-03 14:00:00          Initech  Software     13
2015-02-04 15:30:00        Streeplex  Software     13
2015-02-05 02:00:00  Acme Coporation  Software     19
2015-02-09 13:00:00        Mediacore  Software      7
2015-02-11 20:00:00          Initech  Software      7
2015-02-11 23:00:00            Hooli  Software      4
2015-02-16 12:00:00            Hooli  Software     10
2015-02-21 05:00:00        Mediacore  Software      3

10. Find all entries where either the product is Hardware OR the units sold are greater than
15.

In [12]:
hardware_or_units = df[(df["Product"] == "Hardware") | (df["Units"] > 15)]
print(hardware_or_units)

                             Company   Product  Units
Date
2015-02-02 21:00:00        Mediacore  Hardware      9
2015-02-04 22:00:00  Acme Coporation  Hardware     14
2015-02-05 02:00:00  Acme Coporation  Software     19
2015-02-07 23:00:00  Acme Coporation  Hardware      1
2015-02-09 09:00:00        Streeplex   Service     19
2015-02-19 11:00:00        Mediacore  Hardware     16
2015-02-21 20:30:00            Hooli  Hardware      3

11. Remove any rows with NaN values (if any exist in the dataset).

In [13]:
df_clean = df.dropna()
print(df_clean)

                             Company   Product  Units
Date
2015-02-02 08:30:00            Hooli  Software      3
2015-02-02 21:00:00        Mediacore  Hardware      9
2015-02-03 14:00:00          Initech  Software     13
2015-02-04 15:30:00        Streeplex  Software     13
2015-02-04 22:00:00  Acme Coporation  Hardware     14
2015-02-05 02:00:00  Acme Coporation  Software     19
2015-02-05 22:00:00            Hooli   Service     10
2015-02-07 23:00:00  Acme Coporation  Hardware      1
2015-02-09 09:00:00        Streeplex   Service     19
2015-02-09 13:00:00        Mediacore  Software      7
2015-02-11 20:00:00          Initech  Software      7
2015-02-11 23:00:00            Hooli  Software      4
2015-02-16 12:00:00            Hooli  Software     10
2015-02-19 11:00:00        Mediacore  Hardware     16
2015-02-19 16:00:00        Mediacore   Service     10
2015-02-21 05:00:00        Mediacore  Software      3
2015-02-21 20:30:00            Hooli  Hardware      3
2015-02-25 00:30:00          Initech   Service     10
2015-02-26 09:00:00        Streeplex   Service      4

Transforming Tasks
12. Add a new column called 'Revenue' that calculates revenue based on the following
prices:
○ Software: $350 per unit
○ Hardware: $425 per unit
○ Service: $275 per unit

In [ ]:
price_map = {"Software": 350, "Hardware": 425, "Service": 275}

df["Revenue"] = df["Product"].map(price_map) * df["Units"]

print(df[["Product", "Units", "Revenue"]].head())

                      Product  Units  Revenue
Date
2015-02-02 08:30:00  Software      3     1050
2015-02-02 21:00:00  Hardware      9     3825
2015-02-03 14:00:00  Software     13     4550
2015-02-04 15:30:00  Software     13     4550
2015-02-04 22:00:00  Hardware     14     5950

13. Create a new column 'DayOfWeek' that contains the day of the week for each sale.

In [15]:
df["DayOfWeek"] = df.index.day_name()
print(df[["DayOfWeek"]].head())

                     DayOfWeek
Date
2015-02-02 08:30:00     Monday
2015-02-02 21:00:00     Monday
2015-02-03 14:00:00    Tuesday
2015-02-04 15:30:00  Wednesday
2015-02-04 22:00:00  Wednesday

14. Apply a discount function to the Revenue column that gives:
○ 5% discount for purchases of 15+ units
○ 10% discount for purchases of 20+ units

In [ ]:
def apply_discount(units, revenue):
    if units >= 20:
        return revenue * 0.90  
    elif units >= 15:
        return revenue * 0.95  
    else:
        return revenue

df["DiscountedRevenue"] = df.apply(
    lambda row: apply_discount(row["Units"], row["Revenue"]), axis=1
)

print(df[["Units", "Revenue", "DiscountedRevenue"]].head())

                     Units  Revenue  DiscountedRevenue
Date
2015-02-02 08:30:00      3     1050             1050.0
2015-02-02 21:00:00      9     3825             3825.0
2015-02-03 14:00:00     13     4550             4550.0
2015-02-04 15:30:00     13     4550             4550.0
2015-02-04 22:00:00     14     5950             5950.0

15. Transform the Company names to all uppercase and create a new column called
'CompanyCode' that contains the first three letters of each company name.

In [17]:
df["CompanyUpper"] = df["Company"].str.upper()
df["CompanyCode"] = df["Company"].str[:3].str.upper()

print(df[["Company", "CompanyUpper", "CompanyCode"]].head())

                             Company     CompanyUpper CompanyCode
Date
2015-02-02 08:30:00            Hooli            HOOLI         HOO
2015-02-02 21:00:00        Mediacore        MEDIACORE         MED
2015-02-03 14:00:00          Initech          INITECH         INI
2015-02-04 15:30:00        Streeplex        STREEPLEX         STR
2015-02-04 22:00:00  Acme Coporation  ACME COPORATION         ACM